<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6257d7;">
  <%= link_to show_inn_url, class: "nav-link navbar-brand mb-0 h1" do %>
    <%= image_tag 'logo_nalog.png', class: 'logo' %>
  <% end %>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>
    </div>
  </div>
  <ul class="navbar-nav mr-auto">
  <li class="nav-item active" id="links-log">
    <%= link_to root_path, class: "nav-link navbar-brand mb-0 h1" do %>
      <button class="btn btn-outline-success my-2 my-sm-0 text-dark" type="submit"><%= t("home_btn") %></button>
    <% end %>
  </li>
  </ul>
</nav>
<div class="container m-3">
  <%= form_with url: show_inn_output_url, method: :post do |form| %>
    <%= form.label :user_name, t("get_inn_text"), :class => 'label-form h5' %><br>
    <%= form.text_field :user_name %><br/><br/>
    <%= form.submit t('find_btn'), id: "show_user_inn", class: 'btn btn-warning' %>
  <% end %>
  <br>
  <div id='show_inn_container'></div>
</div>
